/* Type */

body {
	background-color: lightyellow;
	font-family: 'Oswald', sans-serif;
	line-height: 1.3;
    font-size: 1em;
    font-weight: 400;

}
.ugggh {
	color: pink;
	font-weight: 700;

}
.other-font {
	font-family: serif;
}

.cool{
	color: orange;
	text-decoration: bold;
	margin-top: 2em;
	margin-left: 9em;
	margin-right: 22em;
	transform: rotate(4deg);
	filter: blur(2x);


}


.agree{
	color: green;
	margin-top: 5em;
	margin-left: 32em;
	color: orange;
	text-decoration: bold;
	transform: rotate(-4deg);
	filter: blur(2x);
	transform-style: preserve-3d
	background-color: babyblue;

}

.nop{
	color:red;
	margin-top: 5em;
	margin-right: 23em;
	color: orange;
	text-decoration: bold;
	transform: rotate(4deg);
	filter: blur(2x);
}


.baby{
	color: yellow
	font-family: 'Nerko One', cursive
}


}



